/**************************************	
				Global
**************************************/

h1#teamname {
	text-align: center;
	margin-top: 100px;
	text-transform: uppercase;
}


/**************************************
	National Basketball Association
**************************************/

.gsw {
	background-color: #006BB6;
	color: #FDB927;
}

.cc{
	background-color:#860038;
	color: #FDBB30;
}